body{
    font: 20px Arial, sans-serif;   
}

.navbar{
    background-color: #16A085;
}

.quem-somos{
    background-color: #E8F6F3;
    color: #2C3E50;
}

.serviços{
    background-color: #EBF5FB;
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}

.bg-footer{
    background-color: black;
    color: white;    
}